h1 {
	font-family: 'PT Sans';
}
div#main {
	width: 790px;
	margin: auto;
	font-family: 'Lekton';
}
input[type='text'], select {
	border: none;
	border-bottom: 1px dashed #888;
	background: #fffadb;
	font-family: 'Lekton';
	font-size: 1.2em;
}

input[type='button'] {
	border: 1px solid black;
	background: #ddd;
	text-shadow: 0 1px white;
	border-radius: 4px;
	-moz-border-radius: 4px;
	height: 2.1em;
}

input[type='text']:disabled, select:disabled {
	background: #fafafa;
	border-bottom: 1px dashed #ccc;
	color: #000;
}
input[type='file'] {
	width: 50px;
	opacity: 0.5;	
	position: absolute;
	cursor: pointer;
}

img.receiptImage {
	float: right;
}
.receiptCol {
	width: 50px;	
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	text-align: right;
}	

.imageForm {
	margin: 0px;
}

.descriptionCol, input[name='description'] {
	width: 450px;
	text-align: right;
}

.amountCol, input[name='amount'] {
	width: 100px;
	text-align: right;
}

.descriptionCol {
	width: 100px;
}

.inputRow {
	margin-top: 2em;
}

#total {
	border-top: 1px double black;
	border-width: 4px;
	font-size: 1.5em;
}

li#reimbursed > span {
	font-weight: bold;
}

div#zoom {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.9;
	background: #888;
}

div#imageZoom {
	position: absolute;
	top: 50px;
	width: 700px;
    cursor: pointer;
	margin: auto;
	background: #fff;
	box-shadow: 2px 2px 4px #000;
	-moz-box-shadow: 2px 2px 4px #000;
	
}

table {
	text-align: right;
}

th {
	border-bottom: 1px solid black;
	height: 1.5em !important;
}

tr {
	margin: 0.5em;
}

ul {
	list-style-type: none;
	padding: 0px;
}
li {
	margin-bottom: 0.5em;
}
#reportName, #reportName_placeholder {
	font-size: 1.5em; 
}

.invalid { border: 1px dotted red !important; }

#nav {
	margin-top: 5em;
	text-align: right;
}

#collection {
	margin-top: 1em;
}

/*match placeholder/watermark padding to border+padding for input element*/
label.placeholder {
cursor: text;
padding: 4px 4px 4px 4px;
color: #999999;
}
/* html5 placeholder support */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color:#999999;
}
input:placeholder, textarea:placeholder {
color:#999999;
}

.SI-FILES-STYLIZED form.imageForm
{
    width: 79px;
    height: 22px;
    background: url(/img/btn-choose-file.gif) 0 0 no-repeat;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.SI-FILES-STYLIZED form.imageForm input.file
{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

